* {
  background-color: #121827;
}
.side-navbar {
  width: 12.5rem;
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  background: linear-gradient(72deg, #172038 10%, #10151e 100%);
}

.nav-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.menu-title {
  color: #e74a3b;
  text-transform: capitalize;
  font-size: 1rem;
  margin-left: 1rem;
}

.submenu {
  list-style-type: none;
  padding: 0;
}

.submenu a {
  display: block;
  color: #ccc;
  font-size: 13.6px;
  text-decoration: none;
  padding: 0.5rem 1rem;
}

.submenu a:hover {
  background-color: rgba(255, 255, 255, 0.1);
}

.sidebar-divider {
  border: none;
  margin: 0 1rem 1rem;
  border-top: 1px solid rgba(255, 255, 255, 0.1);
}
.content {
  margin-left: 12.5rem; /* side-navbar genişliği kadar boşluk bırak */
}
.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-right: 400px;
  padding-left: 206px;
}

.card {
  width: 23%;
  margin-bottom: 20px;
  border: 1px solid #e3e3e3;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  overflow: hidden;
  background-color: #161f36;
  text-align: center;
}

.card:hover {
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.card img {
  width: 100%;
  height: auto;
  object-fit: cover;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.card h3 {
  color: #d5d5d5;
  text-decoration: none;
  background-color: transparent;
  margin-bottom: 10px;
}

.card a {
  display: block;
  text-decoration: none;
}

.card-bottom-line {
  width: 100%;
  height: 5px;
  background-color: red;
}

.top-bar {
  height: 4.375rem;
  background-color: #e74a3b;
  background-image: linear-gradient(135deg, #e74a3b 0, rgb(25, 31, 54) 100%);
  position: relative;
  border-radius: 25px;
  display: flex;
  align-items: center;
}
.logo {
  background-color: transparent;
  font-size: x-large;
  margin: 20px;
}

.search-input {
  height: 3.375rem;
  width: 25rem;
  background-color: #e74a3b;
  background-image: linear-gradient(135deg, #e74a3b 0, rgb(25, 31, 54) 100%);
  border: none;
  color: #fff;
  padding-left: 1rem;
  position: absolute;
  right: 0;
  top: 0;
  border-radius: 100px;
  margin-top: 5px;
}

.label {
  background-color: #222942;
  background-image: linear-gradient(135deg, #222942 0, rgb(17, 23, 38) 50%);
  color: #fff;
  padding: 0.6rem 0;
  border-radius: 25px;
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.1);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
}
a {
  color: white;
  text-decoration: none;
  background: transparent;
}
.title {
  margin-left: 1rem;
  font-size: 2rem;
}
h2 {
    color: white;
	background-color: transparent;
}
h1.title {
  background: transparent;
}
footer {
  margin-left: 12.5rem;
}
p {
    color: white;
}
